.paper-page{
  --a4-width: 210mm;
  --a4-height: 297mm;

  background-color: white;
  overflow: hidden;
}

.paper-page.a4.portrait {
  width: var(--a4-width);
  min-width: var(--a4-width);
  height: var(--a4-height);
}

.paper-page.a4.landscape {
  width: var(--a4-height);
  height: var(--a4-width);
}