@import "tailwindcss";

@layer components {
  label{
    @apply font-semibold cursor-pointer;
  }

  select, input{
    @apply font-semibold py-1 px-2 rounded-lg cursor-pointer border-2 border-neutral-800 bg-neutral-50
  }

  button{
    @apply select-none cursor-pointer transition-colors duration-200;
  };
  
  .sucess-btn, .cancel-btn, .primary-btn{
    @apply font-semibold py-1 px-2 rounded-lg;
  }
  .sucess-btn{
    @apply bg-emerald-600 text-neutral-50 hover:bg-emerald-700 active:bg-emerald-800;
  }
  .cancel-btn{
    @apply bg-red-600 text-neutral-50 hover:bg-red-700 active:bg-red-800;
  }
  .primary-btn{
    @apply bg-blue-600 text-neutral-50 hover:bg-blue-700 active:bg-blue-800;
  }
}

@media print {
  .header, .footer {
    display: none;
  }
  .paper-waper {
    padding: 0;
    overflow: unset;
    display: block;
  }
  .paper-page {
    scale: 100%;
    print-color-adjust: exact;
  }
}

@page {
  margin: 0; /* remove margens do navegador */
}

html{
  width: 100vw;
  height: 100vh;
}

#root, body{
  width: 100%;
  height: 100%;
}
